@{
    ViewBag.Title = "Page Not Found";
}
<div class="E1">

    <h2>Error, Page Not Found</h2>

    <p>Sidan kunde inte hittas!!!</p>

   </div>

    @Html.ActionLink("Tillbaks till startsidan!", "Index", "Weather")

    @* Error page must be longer than 512 bytes for IE and Chrome to show it.
        So add padding in case we're short. *@
    @(new string(' ', 512))
