body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/*Index lista */
ol {
    counter-reset: li; /* Initiate a counter */
    list-style: none; /* Remove default numbering */
    *list-style: decimal; /* Keep using default numbering for IE6/7 */
    font: 15px 'trebuchet MS', 'lucida sans';
    padding: 0;
    margin-bottom: 4em;
    text-shadow: 0 1px 0 rgba(255,255,255,.5);
}

ol ol {
    margin: 0 0 0 2em; /* Add some left margin for inner lists */
}

.rounded-list a{
    position: relative;
    display: block;
    padding: .4em .4em .4em 2em;
    *padding: .4em;
    margin: .5em 0;
    background: #ddd;
    color: #444;
    text-decoration: none;
    border-radius: .3em;
    transition: all .3s ease-out;   
}


.land{
 position: relative;
    display: block;
    padding: .4em .4em .4em 2em;
    margin: .5em 0;
    color: #444;
    text-decoration: none;
    margin: -34px 37px 5px 429px;
    width: -22px;
}

.rounded-list a:hover{
    background: #eee;
}

.rounded-list a:hover:before{
    transform: rotate(360deg);  
}

.rounded-list a:before{
    content: counter(li);
    counter-increment: li;
    position: absolute; 
    left: -1.3em;
    top: 50%;
    margin-top: -1.3em;
    background: #87ceeb;
    height: 2em;
    width: 2em;
    line-height: 2em;
    border: .3em solid #fff;
    text-align: center;
    font-weight: bold;
    border-radius: 2em;
    transition: all .3s ease-out;
}

/*Index lista slut*/

/*weatherlist*/
.weatherlist {
     font-weight: bold;
}

.weatherlist li
{
    /* position: relative; */
    /* display: block; */
    /* padding: .4em .4em .4em 2em; */
    /* margin: .5em 0; */
    /* background: #ddd; */
    /* color: #444; */
    /* text-decoration: none; */
    /* border-radius: .3em; */
    /* transition: all .3s ease-out; */
    /* float: left; */
    /* margin: -18px 777px -26px 99px; */
    padding: 4px -12px 19px 10px;
    display: inline;
    display: inline-block;
    zoom: 1;
    /* padding-right: 72px; */
    padding: 2px 48px 1px 55px;
}

.weatherlist h3
{
 position: relative;
    display: block;
    background: #ddd;
    color: #444;
    text-decoration: none;
    border-radius: .3em;
    transition: all .3s ease-out;
    color: #666666;
    text-decoration: none;
    padding: 3px 8px;
    /* padding-bottom: 8px;*/
}

.weatherlist p
{
  position: relative;
    display: block;

    background: #ddd;
    color: #444;
    text-decoration: none;
    border-radius: .3em;
    transition: all .3s ease-out;
    color: #666666;
    text-decoration: none;
    padding: 3px 8px;
    padding: -17px 31px -52px 58px;
     /*margin-top: 10px; */
    margin: 10px 2px 4px -5px;
}

.weatherlist p
{
  position: relative;
    display: block;

    background: #ddd;
    color: #444;
    text-decoration: none;
    border-radius: .3em;
    transition: all .3s ease-out;
    color: #666666;
    text-decoration: none;
    padding: 3px 8px;
    padding: -17px 31px -52px 58px;
     /*margin-top: 10px; */
    margin: 10px 2px 4px -5px;
}

.weatherSymbol
{
position: relative;
    color: #444;
    text-decoration: none;
    border-radius: .3em;
    transition: all .3s ease-out;
    color: #666;
    text-decoration: none;
    padding: 3px 8px;
    float: left;
    margin: -35px -109px 0 49px;
}

.temp
{
   position: relative;
    display: block;
    /* background: #ddd; */
    color: #444;
    text-decoration: none;
    border-radius: .3em;
    transition: all .3s ease-out;
    color: #666666;
    text-decoration: none;
    padding: 3px 8px;
    /* float: left; */
    margin: -1px 0px 0px -6px;
    padding: 4px -12px 19px 10px;
}

/*weatherlist slut*/